.page {
  min-height: 100svh;
  --header-height: 3.75rem;
  --mobile-footer-height: 5.5rem;
  background-color: #ffffff;
}

.content {
  box-sizing: border-box;
  min-height: calc(100svh - var(--header-height) - var(--mobile-footer-height));
  padding: 1rem 1rem calc(var(--mobile-footer-height) + 1rem);
}
