.page {
  min-height: 100svh;
  --header-height: 3.75rem;
  --mobile-footer-height: 4.5rem;
  background-color: #ffffff;
}

.content {
  box-sizing: border-box;
  min-height: calc(100svh - var(--header-height) - var(--mobile-footer-height));
  padding-bottom: var(--mobile-footer-height);
}

@media (min-width: 1024px) {
  .content {
    min-height: calc(100svh - var(--header-height));
    padding-bottom: 0;
  }
}