@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@layer base {
  html {
    @apply font-poppins;
  }

  body {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  @supports (overflow-y: overlay) {
    body {
      overflow-y: overlay;
    }
  }
}

@theme {
  --color-main-blue: #012a6a;
  --color-light-main-blue: #112bd6;
  --color-light-blue-container: #6db6fe;
  --font-poppins: "Poppins", sans-serif;
  --color-text-error: #b91c1c
}
